ul {
	padding: 0px 0px;
}

li {
	list-style-type: none;
	white-space: nowrap;
	padding: 10px 20px;
}

li:hover {
	background-color: #FFE4B5;
}

header {
	text-align: center;
	border-bottom: solid 2px #FFB485;
	padding: 10px 20px;
	font-size: 14px;
}

body {
	width: 110px;
}
